* {
    font-size: 20px;
}

.PrimerTitulo {
    text-align: center;
    font-size: 2.5em;
    color: pink;
    font-style: initial;
    border-style:solid;
    border-color:rgb(101, 174, 199);
}

.Subtitulo {
    text-align: left;
    font-size: 2em;
    color: rgb(101, 174, 199);
    border-style:solid;
    border-color: pink;
    border-width: thin;
}

.parrafoGrande {
    font-size: 1.5em;
    color: pink;
}

.parrafoChico {
    font-size: 1em;
    color: pink;
}

img {
    width: 50%;
}
