* {
    font-size: 16px; 
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3vw;
    color: pink;
    font-style: initial;
    border-style:solid;
    border-color:rgb(101, 174, 199);
}

p {
    text-align: justify;
    font-size: 1.8vw; 
    color: rgb(101, 174, 199);
    border-style:solid;
    border-color: pink;
    border-width: thin;
}